
@{
    ViewData["Title"] = "Index";
}

<h1>Servicio</h1>

<div class="input-group mb-3">
    <input id="txtNombreBusqueda" type="text" class="form-control" placeholder="Ingrese nombre del servicio" onkeyup="filtrarServicio()" />
</div>

<div id="divTabla">

</div>

<script src="~/js/generic.js"></script>
<script src="~/js/servicio.js"></script>
