@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vista PDF</title>
    <style>
        h1 {
            color: #3F9869
        }

        table {
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid gray;
            padding: 15px;
            font-size: 22px;
            text-align: center;
        }

        table th {
            background-color: #324EFF;
            color: white;
        }

        img{
            width:50%
        }

    </style>
</head>
<body>
    <center>
        <br />
        <img src="https://static.vecteezy.com/system/resources/previews/005/484/042/original/dog-logo-illustration-free-vector.jpg" />
        <br />
        <h1>Lista de Cita</h1>
        <br />
        <table>
            <thead>
                <tr>
                    <th>Nombre Mascota</th>
                    <th>Servicio</th>
                    <th>Veterinario</th>
                    <th>Sucursal</th>
                    <th>Fecha</th>
                    <th>Horario</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nala</td>
                    <td>Plan 1</td>
                    <td>Renzo</td>
                    <td>Ica</td>
                    <td>2022-09-10T00:00:00</td>
                    <td>10:00</td>
                </tr>
                <tr>
                    <td>Chocolate</td>
                    <td>Plan 1</td>
                    <td>Karlo</td>
                    <td>Piura</td>
                    <td>2022-09-11T00:00:00</td>
                    <td>11:00</td>
                </tr>
                <tr>
                    <td>Boby</td>
                    <td>Plan 3</td>
                    <td>Karim</td>
                    <td>Cusco</td>
                    <td>2022-09-12T00:00:00</td>
                    <td>12:00</td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>

