
@{
    ViewData["Title"] = "Index";
}

<h1>Tipo Usuario</h1>

<div id="divTabla">

</div>


<script src="~/js/sweatalert.js"></script>
<script src="~/js/generic.js"></script>
<script src="~/js/tipousuario.js"></script>

